<p>Hola {{user}}</p>
<p>Pagina con autorización</p>
<p>Por favor ingrese datos Paciente de la orden a autorizar y el mail para
  recibirla</p>

<main>
  <section>
    <div class="container text-white">
      <div class="row">
        <div class="d-flex justify-content-center">
          <a href="/users/logout"><input
              class="btn btn-danger"
              type="button"
              value="logout"
            /></a>
        </div>
        <form action="/" method="POST">
          <label for="name" hidden>ingrese nombre</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="nombre..."
            autofocus
            value="{{formData.name}}"
          />
          <label for="lastName" hidden>ingrese apellido</label>
          <input
            type="text"
            id="lastName"
            name="lastName"
            placeholder="apellido..."
            value="{{formData.lastName}}"
          />
          <label for="afiliadoNum" hidden>ingrese numero afiliado</label>
          <input
            type="text"
            id="afiliadoNum"
            name="afiliadoNum"
            placeholder="Numero de afiliado..."
            value="{{formData.afiliadoNum}}"
          />
          <label for="email" hidden>ingrese email</label>
          <input
            type="text"
            name="email"
            id="email"
            placeholder="email..."
            value="{{formData.email}}"
          />
          <label for="message" hidden>ingrese mensaje</label>
          <textarea
            name="message"
            id="message"
            placeholder="ingrese lugar a realizarse, comentarios,etc..."
            cols="30"
            rows="10"
          >{{formData.message}}</textarea>
          {{message}}
          <input type="submit" value="enviar" />
        </form>
      </div>
    </div>

    {{#each arrWarnings}}
      <p
        style="background-color: white; padding: 10px; text-align: center; margin: 10px 0"
      >{{msg}}
      </p>
    {{/each}}
  </section>
  <div class="d-flex justify-content-center">
    <a href="/ordenes" type="button" class="btn btn-danger">Subir imagen de la
      orden</a>
  </div>
</main>